# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
jarsauth-6.0-all-signed-expanded-0-obf
jarsauth-*.jar
logs
libs

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
